@model Success
@{
    ViewData["Title"] = "Detail";
}
<div class="col-12">
    <img src="~/img/stories/@Model.Image" width="300" />
</div>
<div class="col-md-6 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Name:<br /><br /> @Model.Title</h4>
            <h4 class="card-title">Description:<br /><br /> @Model.Description</h4>
        </div>
    </div>
</div>
<a asp-action="Index" class="btn btn-secondary">Go Back</a>

