@model Bio
    <header>
        <!--Nav bar Start    -->
        <nav class="Run">
            <div class="container">
                <div class="row">
                    <div class="col-6">
                        <div class="nav-logo">
                            <a href="#">
                                <img src="~/img/@Model.LogoImage">
                            </a>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="nav-icon ">
                            <button type="button" id="NavOpen" class="btn btn-info navbar-btn">
                                <img src="~/img/icon.png">
                            </button>

                        </div>
                    </div>
                    <div class="navigation" id="navigation">
                        <div class="close-btn d-flex justify-content-between">
                            <div class="nav-name">
                                Navigation
                            </div>
                            <button type="button" id="NavClose" class="  ">
                                <i class="fas fa-times-circle "></i>
                            </button>
                        </div>
                        <div class="wrapper">
                            <div class="menu_section">
                                <ul>
                                    <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                                    <li><a asp-controller="About" asp-action="Index">About</a></li>
                                    <li><a asp-controller="Trainer" asp-action="Index">Trainers</a></li>
                                    <li><a asp-controller="Service" asp-action="Index">Services</a></li>
                                    <li><a asp-controller="Table" asp-action="Index">Table</a></li>
                                    <li><a asp-controller="Login" asp-action="Index">Login</a></li>
                                    <li><a asp-controller="Contact" asp-action="Index">Contact us</a></li>

                                    @if (!User.Identity.IsAuthenticated)
                                    {
                                        <li><a asp-controller="Login" asp-action="Index">Sign In</a></li>

                                    }
                                    else
                                    {
                                        <h5>@ViewBag.UserFullname</h5>
                                        <li><a asp-controller="Login" asp-action="Signup">Sign Up</a></li>
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
        <!-- Nav bar End -->
    </header>
