@model Bio
    <header>
        <!--Nav bar Start    -->
        <nav class="Run">
            <div class="container">
                <div class="row">
                    <div class="col-6">
                        <div class="nav-logo">
                            <a href="#">
                                <img src="~/img/@Model.LogoImage">
                            </a>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="nav-icon ">
                            <button type="button" id="NavOpen" class="btn btn-info navbar-btn">
                                <img src="~/img/icon.png">
                            </button>
                        </div>
                    </div>
                    <div class="navigation" id="navigation">
                        <div class="close-btn d-flex justify-content-between">
                            <div class="nav-name">
                                Navigation
                            </div>
                            <button type="button" id="NavClose" class="  ">
                                <i class="fas fa-times-circle "></i>
                            </button>
                        </div>
                        <div class="wrapper">
                            <div class="menu_section">
                                <ul>
                                    <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                                    <li><a asp-controller="About" asp-action="Index">About</a></li>
                                    <li><a asp-controller="Trainer" asp-action="Index">Trainers</a></li>
                                    <li><a asp-controller="Service" asp-action="Index">Services</a></li>
                                    <li><a asp-controller="Table" asp-action="Index">Table</a></li>
                                    <li><a asp-controller="Contact" asp-action="Index">Contact us</a></li>

                                    @if (!User.Identity.IsAuthenticated)
                                    {
                                        <li><a asp-controller="Account" asp-action="Login">Sign In</a></li>
                                    }
                                    else
                                    {
                                        <li class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle"  href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                <i class="far fa-user"></i>
                                            </a>
                                            <ul class="dropdown-menu text-center" aria-labelledby="navbarDropdown">
                                                <li><a class="dropdown-item" style="cursor:not-allowed;">User: @ViewBag.UserFullname</a></li>
                                                <li><a class="dropdown-item text-center" asp-controller="Account" asp-action="Logout"><i class="fas fa-sign-out-alt"></i> Logout</a></li>
                                            </ul>
                                        </li>
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
        <!-- Nav bar End -->
    </header>
