@model Popular
@{
    ViewData["Title"] = "Detail";
}
<div class="col-12">
    <img src="~/img/popular/@Model.Image" width="300" />
</div>
<div class="popular mt-3">
    <a asp-action="Index" class="btn btn-secondary">Go Back</a>
</div>



