@model List<Popular>
@{
    ViewData["Title"] = "Index";
}
<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body" style=" background-color: rgba(3,3,3,0.31);">
            <h4 class="card-title" style=" color: darkblue;">Populars</h4>
            <div class="table-responsive" style=" background-color: rgba(3,3,3,0.34);">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th style=" color: white">
                                Photo
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (Popular popular in Model)
                        {
                            <tr>
                                <td style=" background-color: rgba(3,3,3,0.43)">
                                    <img class="img-fluid" src="~/img/popular/@popular.Image"
                                         alt="trainer">
                                </td>
                                <td style=" background-color: rgba(3,3,3,0.37)">
                                    <a asp-controller="Popular" asp-action="Detail" asp-route-id="@popular.Id" class="btn btn-success"><i class="mdi mdi-information"></i></a>
                                    <a asp-controller="Popular" asp-action="Update" asp-route-id="@popular.Id" class="btn btn-warning"><i class="mdi mdi-table-edit"></i></a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>