@model ServiceVM
@{ ViewData["Title"] = "Index";
    }
<main>
    <div id="inner_page_banner" class="section"
         style="background-image:url(./img/Slider/slider_4.jpg);background-size: cover;background-position: center center;">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="full">
                        <h3>Services</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Services section Start -->
    <section id="Services" style="overflow: hidden;">
        <div class="best-section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="full paddding_left_15">
                            <div class="heading_main text_align_left">
                                <h2><span class="theme_color">we </span>provide services</h2>
                            </div>
                        </div>
                        <div class="full service_pro_section">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="full services_list">
                                        <ul>
                                            @foreach (Service service in Model.Services)
                                            {
                                                <li>
                                                    <img src="img/services/check_icon.png" alt="#" />@service.Title
                                                </li>
                                            }
                                        </ul>
                                    </div>
                                    <div class="full paddding_left_15 margin-top_30">
                                        <a class="main_bt" asp-controller="Home" asp-action="Index">
                                            Go Back <i class="fa fa-long-arrow-right"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-lg-6 text_align_right">
                                    <div class="full">
                                        <img class="img-responsive" src="img/services/@Model.Services.ElementAt(0).Image" alt="#">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Services End -->
    <!-- Popular section start -->
    <section id="popular" style="background-image: url(img/popular/qantel_1.png); overflow: hidden;">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="heading_main text_align_center">
                        <h2><span class="theme_color">Popular</span><br> Classes At RUN Fitness</h2>
                    </div>
                </div>
            </div>
            <div class="row mt-5">
                @foreach (PopularDetail pop in Model.PopularDetails)
                {
                    <div class="col-lg-4">
                        <div class="image">
                            <img src="img/popular/@pop.Image" class="img-fluid" />
                            <div class="overley">
                                
                            </div>
                        </div>
                    </div>
                }

            </div>
        </div>
        <div class="Read_More mt-3">
            <div class="center">
                <a class="main_bt" asp-controller="Home" asp-action="Index">Go Back <i class="fa fa-long-arrow-right"></i></a>
            </div>
        </div>
    </section>
    <!-- Popular End -->
</main>